 body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 24px; /* Schriftgröße in Pixel */
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 3vh 2vw;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    width: 60vw;
    height: auto;
    max-height: 90vh;
    position: relative;
}

#slot-machine {
    background-image: url("images/spielautomat.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 60vh; /* Höhe unverändert */
    margin: 2vh auto;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1vh;
    width: 30%;
    margin-top: -20px;
    padding-top: 16vh;
    padding-left: 3vh;
}

.slot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.symbol {
    width: 4.5vh; /* Symbolgröße in vh */
    height: 6vh; /* Höhe der Symbole */
    object-fit: cover;
    margin: 0.5vh;
    animation: rattern 0.0001s linear infinite;
}

.reel {
    overflow: hidden;
    height: 6vh;
    width: 5vw;
    display: flex;
    flex-direction: column;
}

@keyframes rattern {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

button {
    margin-top: 10px;
    padding-bottom: 0px;
    font-size: 20px;
    cursor: pointer;
}

#guthaben-container {
    margin-bottom: 3vh;
}

#gewinntext {
    font-family: cursive;
    font-size: 2vh;
    font-weight: bold;
    position: absolute;
    left: 2vh;
    bottom: 7vh;
}

#guthaben-anzeige {
    font-family: fantasy;
    color: rgba(18, 2, 245, 0.938);
    font-size: 2vh;
    font-weight: bold;
    position: absolute;
    left: 2vh;
    bottom: 2vh;
}

input[type="number"] {
    padding: 6px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    text-align: center;
}

#start-button {
    background: none;
    border: none;
    position: absolute;
    right: 3vh;
    bottom: 3vh;
    padding: 0;
}

#start-button img {
    width: 7vw;
    height: auto;
}

#start-music {
    padding: 0.5vh 1vw;
    font-size: 1.5vw;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    right: 2vw;
    top: 2vh;
}

#start-music:hover {
    background-color: #45a049;
}

#volume {
    width: 10vw;
    height: 2vh;;
    transform-origin: center center;
    cursor: pointer;
    
}

.container {
    text-align: center;
    margin-top: 0px;
    width: 20%;
    height: 70vh;
}

label[for="volume"] {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}
